#include "ps2cc_gui.h"

PS2CC_DLG DIALOGEX 4,4,407,294
CAPTION PROGRAM_NAME
FONT 10,"MS Sans Serif",0,0,0
MENU PS2CC_MNU
STYLE WS_VISIBLE|DS_CENTER|WS_SYSMENU|WS_SYSMENU|WS_MINIMIZEBOX
BEGIN
  CONTROL "",PS2CC_TABCTRL,"SysTabControl32",WS_CHILD|WS_VISIBLE|TCS_FOCUSNEVER,0,0,407,266
  CONTROL "",NTPB_STATUS_BAR,"msctls_statusbar32",WS_CHILD|WS_VISIBLE|CCS_BOTTOM,0,284,407,9
  CONTROL "",DUMPSTATE_PRB,"msctls_progress32",WS_CHILD|WS_VISIBLE,0,274,407,11
END

/****************************************************************************
Menu
*****************************************************************************/
PS2CC_MNU MENU
BEGIN
  POPUP "File"
  BEGIN
  	MENUITEM "Load Search",MNU_LOAD_SEARCH
    MENUITEM "Exit",MNU_EXIT
  END
  POPUP "Run"
  BEGIN
  	MENUITEM "Halt\tF4",MNU_HALT
    MENUITEM "Resume\tF5",MNU_RESUME
    MENUITEM "Reconnect",MNU_RECONNECT
  END
  POPUP "Search"
  BEGIN
    MENUITEM "File Mode",MNU_CS_FILE_MODE
  	POPUP "Input Type"
    BEGIN
    	MENUITEM "Hexadecimal",MNU_CS_INPUT_HEX
    	MENUITEM "Decimal",MNU_CS_INPUT_DEC
    	MENUITEM "Float/Double",MNU_CS_INPUT_FLOAT
    END
    MENUITEM "Undo Last Search",MNU_CS_UNDO
  END
  POPUP "Results"
  BEGIN
  	POPUP "View"
  	BEGIN
  		MENUITEM "Hexadecimal",MNU_RES_SHOW_HEX
  		MENUITEM "Decimal (Unsigned)",MNU_RES_SHOW_DECU
  		MENUITEM "Decimal (Signed)",MNU_RES_SHOW_DECS
  		MENUITEM "Float",MNU_RES_SHOW_FLOAT
    END
    POPUP "Export"
    BEGIN
    	MENUITEM "Selected Search",MNU_RES_EXPORT_SEL
    	MENUITEM "Cheat Device (Selected Search)",MNU_RES_EXPORT_CHEAT
    	MENUITEM "All Values",MNU_RES_EXPORT_ALL
    END
  END
  POPUP "Memory Editor"
  BEGIN
  	POPUP "View"
  	BEGIN
  		MENUITEM "Bytes (8-Bit)",MNU_MEM_SHOW_BYTES
  		MENUITEM "Halfwords (16-Bit)",MNU_MEM_SHOW_SHORTS
  		MENUITEM "Words (32-Bit)",MNU_MEM_SHOW_WORDS
    END
    MENUITEM "Go To\tCtrl+G",MNU_MEM_GOTO
  END
  POPUP "Options"
  BEGIN
    MENUITEM "Settings",MNU_SHOW_CONFIG
  END
END

/****************************************************************************
Search tab
*****************************************************************************/
SEARCH_DLG DIALOGEX MOVEABLE PURE LOADONCALL DISCARDABLE 4,4,404,247
FONT 10,"MS Sans Serif",0,0,0
STYLE 0x0004 | WS_CHILD
BEGIN
  CONTROL "Search Type",SEARCH_GRP1,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,4,4,190,60
  CONTROL "Quick:",QUICK_SEARCH_LBL,"Static",WS_CHILD|WS_VISIBLE,39,13,18,8
  CONTROL "Init",QS_INIT_CMD,"Button",WS_CHILD|WS_VISIBLE,58,12,16,10
  CONTROL "==",QS_EQUAL_CMD,"Button",WS_CHILD|WS_VISIBLE,97,12,16,10
  CONTROL "!=",QS_NEQUAL_CMD,"Button",WS_CHILD|WS_VISIBLE,116,12,16,10
  CONTROL ">",QS_GREATER_CMD,"Button",WS_CHILD|WS_VISIBLE,135,12,16,10
  CONTROL "<",QS_LESS_CMD,"Button",WS_CHILD|WS_VISIBLE,154,12,16,10
  CONTROL "#",QS_KNOWN_CMD,"Button",WS_CHILD|WS_VISIBLE,174,12,16,10
  CONTROL "",SEARCH_TYPE_CMB,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_HASSTRINGS|CBS_AUTOHSCROLL|CBS_DROPDOWNLIST,15,25,174,133
  CONTROL "",SEARCH_VALUE1_TXT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,41,48,67,10,WS_EX_CLIENTEDGE
  CONTROL "",SEARCH_VALUE2_TXT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,120,48,67,10,WS_EX_CLIENTEDGE
  CONTROL "-",SEARCH_DASH_LBL,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,109,49,10,6
  CONTROL "Value(s)",SEARCH_VALUES_LBL,"Static",WS_CHILD|WS_VISIBLE,14,48,27,8
  CONTROL "Search Size",SEARCH_SIZE_GRP,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,315,4,72,29
  CONTROL "",SEARCH_SIZE_CMB,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,320,13,61,54
  CONTROL "Compare To",COMPARE_TO_GRP,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,315,36,72,29
  CONTROL "",COMPARE_TO_CMB,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_HASSTRINGS|CBS_AUTOHSCROLL|CBS_DROPDOWNLIST,319,46,65,60
  CONTROL "Search Area",SEARCH_AREA_GRP,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,212,24,88,41
  CONTROL "",SEARCH_AREA_CMB,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,217,34,77,60
  CONTROL "",SEARCH_AREA_LOW_TXT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,217,49,34,10,WS_EX_CLIENTEDGE
  CONTROL "",SEARCH_AREA_HIGH_TXT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,260,49,34,10,WS_EX_CLIENTEDGE
  CONTROL "-",SEARCH_AREA_LBL,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,252,50,7,6
  CONTROL "Search",DO_SEARCH_CMD,"Button",WS_CHILD|WS_VISIBLE,211,0,35,8
  CONTROL "Dump Only",TAKE_DUMP_CMD,"Button",WS_CHILD|WS_VISIBLE,266,10,34,8
  CONTROL "Extended Search Options",EX_SEARCH_GRP,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,4,68,383,82
  CONTROL "Signed",SEARCH_SIGNED_CHK,"Button",WS_CHILD|WS_VISIBLE|BS_AUTOCHECKBOX,15,37,40,8
  CONTROL "",EX_SEARCH_LSV,"SysListView32",WS_CHILD|WS_VISIBLE|LVS_REPORT|LVS_SINGLESEL,9,78,373,67,WS_EX_CLIENTEDGE
  CONTROL "Filter w/EX",EX_FILTER_CMD,"Button",WS_CHILD|WS_VISIBLE,211,10,35,8
  CONTROL "Search History",SEARCH_HISTORY_GRP,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,4,154,383,84
  CONTROL "",SEARCH_HISTORY_TXT,"Edit",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_HSCROLL|ES_READONLY|ES_MULTILINE,9,164,373,67,WS_EX_CLIENTEDGE
  CONTROL "",EX_VALUE_TXT,"Edit",NOT WS_VISIBLE|WS_CHILD|ES_AUTOHSCROLL,199,94,38,10,WS_EX_CLIENTEDGE
  CONTROL "PS2 Waits",PS2_WAITS_CHK,"Button",WS_CHILD|WS_VISIBLE|BS_AUTOCHECKBOX,258,1,42,8
  CONTROL "Label",SEARCH_LABEL_LBL,"Static",WS_CHILD|WS_VISIBLE,98,37,20,8
  CONTROL "",SEARCH_LABEL_TXT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,121,37,68,8,WS_EX_CLIENTEDGE
  CONTROL "?",QS_FORGOT_CMD,"Button",WS_CHILD|WS_VISIBLE,78,12,16,10
END

/****************************************************************************
Settings
*****************************************************************************/
SETTINGS_DLG DIALOGEX 4,4,406,267
CAPTION "Settings"
FONT 10,"MS Sans Serif",400,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW|DS_CENTER
BEGIN
  CONTROL "",IP_ADDR_TXT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,13,15,60,11,WS_EX_CLIENTEDGE
  CONTROL "Test",TEST_IP_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,79,15,30,11
  CONTROL "PS2 IP",IP_CONFIG_GRP,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,3,3,114,47
  CONTROL "Set",SET_OPTIONS_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,193,154,32,11
  CONTROL "Search Temp Folder (Dumps, Results, etc)",DUMP_DIR_GRP,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,123,3,277,47
  CONTROL "",DUMP_DIR_TXT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,130,24,234,10,WS_EX_CLIENTEDGE
  CONTROL "Choose",SET_DUMP_DIR_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,366,24,26,10
  CONTROL "Search Access Type",SEARCH_ACCESS_GRP,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,4,55,127,41
  CONTROL "Load Full Dumps (Faster)",SEARCH_ACCESS_ARRAY_OPT,"Button",WS_CHILD|WS_VISIBLE|WS_GROUP|WS_TABSTOP|BS_AUTORADIOBUTTON,14,68,106,8
  CONTROL "File Handles Only (Less RAM)",SEARCH_ACCESS_FILE_OPT,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,14,79,109,8
  CONTROL "Results List Page Size",RESULTS_PAGE_SIZE_GRP,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,139,55,74,41
  CONTROL "",RESULTS_PAGE_SIZE_TXT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,158,68,36,10,WS_EX_CLIENTEDGE
  CONTROL "(0 = Visible Area Only)",RESULTS_PAGE_SIZE_LBL,"Static",WS_CHILD|WS_VISIBLE,142,84,67,8
  CONTROL "Max Results Pages",RESULTS_PAGE_MAX_GRP,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,220,55,65,41
  CONTROL "",RESULTS_PAGE_MAX_TXT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,238,68,29,10,WS_EX_CLIENTEDGE
  CONTROL "(1-1000)",RESULTS_PAGE_MAX_LBL,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,236,84,34,7
END

/****************************************************************************
Results tab
*****************************************************************************/
RESULTS_DLG DIALOGEX MOVEABLE PURE LOADONCALL DISCARDABLE 4,4,404,247
FONT 10,"MS Sans Serif",0,0,0
STYLE 0x0004 | WS_CHILD
BEGIN
  CONTROL "Results",RESULTS_LIST_GRP,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,7,2,263,234
  CONTROL "",RESULTS_LSV,"SysListView32",WS_CHILD|WS_VISIBLE|WS_BORDER|LVS_REPORT,13,12,252,209,WS_EX_CLIENTEDGE
  CONTROL "Page #",RESULTS_PAGE_LBL,"Static",WS_CHILD|WS_VISIBLE,186,223,26,10
  CONTROL "Active Cheats (Max 256 On)",ACTIVE_CODES_GRP,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,276,2,120,163
  CONTROL "",ACTIVE_CODES_LSV,"SysListView32",WS_CHILD|WS_VISIBLE|WS_TABSTOP|LVS_REPORT,280,13,110,146,WS_EX_CLIENTEDGE
  CONTROL "",ACTIVE_RES_ADDR_TXT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,276,177,38,10,WS_EX_CLIENTEDGE
  CONTROL "",ACTIVE_RES_VALUE_TXT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,320,177,37,10,WS_EX_CLIENTEDGE
  CONTROL "",ACTIVE_RES_SIZE_CMB,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,362,177,34,54
  CONTROL "Address",ACTIVE_RES_ADDR_LBL,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,276,169,38,7
  CONTROL "Value",ACTIVE_RES_VALUE_LBL,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,320,169,37,8
  CONTROL "Size",ACTIVE_RES_SIZE_LBL,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,362,169,32,7
  CONTROL "Write Once",RES_WRITE_ONCE_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,276,195,38,8
  CONTROL "Activate",RES_ACTIVATE_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,320,195,38,8
  CONTROL "Delete",RES_DEL_ACTIVE_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,363,195,32,8
  CONTROL "All On",RES_ALL_ON_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,276,208,38,8
  CONTROL "All Off",RES_ALL_OFF_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,320,208,38,8
  CONTROL "Clear All",RES_CLEAR_ALL_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,363,208,32,8
  CONTROL "",RESULTS_PAGE_CMB,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|CBS_HASSTRINGS|CBS_AUTOHSCROLL|CBS_DROPDOWNLIST,226,223,38,31
  CONTROL "",ACTIVE_RES_EDIT_TXT,"Edit",NOT WS_VISIBLE|WS_CHILD|ES_AUTOHSCROLL,302,37,41,8,WS_EX_CLIENTEDGE
  CONTROL "Use Search # (Enter Key)",RESULTS_SEACH_NUM_LBL,"Static",WS_CHILD|WS_VISIBLE,13,223,80,8
  CONTROL "",RESULTS_SEARCH_NUM_CMB,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|CBS_HASSTRINGS|CBS_DROPDOWNLIST|CBS_AUTOHSCROLL,97,223,30,31
END

/****************************************************************************
Memory Editor tab
*****************************************************************************/
MEMORY_EDITOR_DLG DIALOGEX MOVEABLE PURE LOADONCALL DISCARDABLE 4,4,404,247
FONT 10,"MS Sans Serif",0,0,0
STYLE 0x0004 | WS_CHILD
BEGIN
  CONTROL "",MEM_EDIT_LSV,"SysListView32",WS_CHILD|WS_VISIBLE|WS_BORDER|LVS_SINGLESEL|LVS_REPORT,0,0,407,260,WS_EX_CLIENTEDGE
  CONTROL "",MEM_EDIT_TXT,"Edit",NOT WS_VISIBLE|WS_CHILD|ES_AUTOHSCROLL,35,26,37,10,WS_EX_CLIENTEDGE
END

/****************************************************************************
Keyboard Shortcuts
*****************************************************************************/
PS2CC_ACCEL ACCELERATORS
{
    VK_NEXT,  MNU_RES_PAGE_DOWN,       VIRTKEY
    VK_PRIOR,  MNU_RES_PAGE_UP,       VIRTKEY
    VK_F4,  MNU_HALT,       VIRTKEY
    VK_F5,  MNU_RESUME,       VIRTKEY
    "G",  MNU_MEM_GOTO, CONTROL, VIRTKEY
}
